<div  class="product-list">
  <div *ngFor="let product of products" [routerLink]="['/products', product.id]" class="product-card">
    <div class="hover-content">
      <app-socials [iconPath]="ICONS.plus" class="social-icon"    (click)="addToCart(product); $event.stopPropagation()"></app-socials>
       <app-socials  [iconPath]="isFavorite(product) ? ICONS.filled_heart : ICONS.heart" class="social-icon" (click)="addToFavorites(product); $event.stopPropagation()"></app-socials>
    </div>
    <img [src]="product.image" [alt]="product.title" class="product-image">
    <div class="product-details">
      <p class="category">{{ product.category }}</p>
      <h3>{{ product.title }}</h3>
      <p class="price">{{ product.price }}$</p>
    </div>
  </div>
</div>