<div class="product-list">
  <div *ngFor="let product of products" class="product-card">
    <div class="hover-content">
      <app-socials [iconPath]="ICONS.plus" class="social-icon" (click)="addToCart(product)"></app-socials>
       <app-socials [iconPath]="ICONS.heart" class="social-icon" (click)="addToFavorites(product)"></app-socials>
    </div>
    <img [src]="product.image" [alt]="product.title" class="product-image">
    <div class="product-details">
      <p class="category">{{ product.category }}</p>
      <h3>{{ product.title }}</h3>
      <p class="price">{{ product.price }}$</p>
    </div>
  </div>
</div>