<nav class="nav-container">
 <div class="logo">
        <img
          [src]="IMAGES.logo"
          alt="login_illustration"
          width="120"
          height="100"
        />
      </div>
      <ul class="nav-links">
        <li>Home</li>
        <li>About</li>
        <li class="active">Products</li>
      </ul>

      <div class="socials">
    <app-socials  [iconPath]="ICONS.search"></app-socials>
    <app-socials  [iconPath]="ICONS.cart"></app-socials>
    <app-socials  [iconPath]="ICONS.user_white"></app-socials>
      </div>

</nav>
