<nav class="nav-container" *ngIf="showNavbar">
 <div class="logo">
        <img
          [src]="IMAGES.logo"
          alt="login_illustration"
          width="120"
          height="100"
        />
      </div>
      <ul class="nav-links">
    <li  >
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/products">Products</a>
    </li>
      @if(admin){
        <li>
      <a routerLink="/admin">Admin</a>
    </li>}
  </ul>

    

  @if(admin){
     <div class="socials">
    <app-socials  [iconPath]="ICONS.search"></app-socials>

    <app-socials 
      [iconPath]="ICONS.user_white"   
      [isDropdown]="true">
    </app-socials>
      </div>
  }
  @else{ <div class="socials">
    <app-socials  [iconPath]="ICONS.search"></app-socials>
<app-socials 
  [iconPath]="ICONS.cart"
 drawerType="cart"
  (iconClick)="openCartDrawer()"
  [showBadge]="true"
></app-socials>

 <app-socials  [iconPath]="ICONS.heart" (iconClick)="openFavoritesDrawer()"  drawerType="favorites"  [showBadge]="true"></app-socials>


    <app-socials 
      [iconPath]="ICONS.user_white"   
      [isDropdown]="true">
    </app-socials>
      </div>}
  

</nav>
