<div class="sidemenu">
  <div class="navigation">
    <div class="icon-label" (click)="onItemClick('dashboard')">
      <div class="icon">
        <img [src]="ICONS.chart" alt="Dashboard" width="25" height="25" />
      </div>
      <label class="label">Dashboard</label>
    </div>

    <div class="icon-label" (click)="onItemClick('products')">
      <div class="icon">
        <img [src]="ICONS.products" alt="Products" width="25" height="25" />
      </div>
      <label class="label">Products</label>
    </div>
  </div>
</div>