.sidemenu {
    width: 200px;
    height: 100vh;
    background-color: var(--white);
    border-radius: 30px;
    .logo {
        width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
    }
}