/* In your product-form.component.scss */
:host {
  display: block;
  padding: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.inputs-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.product-form{
grid-column: 2;

}

  .input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    outline: none;
    color: var(--primary);
    background-color: transparent;


      border: 1px solid  var(--primary);
      border-radius: 4px;
    

 

    &::placeholder {
      color: #ccc;
    }

   
  }

  .error{
    font-size: 12px;
    color: red;
  }