<form [formGroup]="productForm" class="product-form">
  <div class="p-field">
    <label for="title">Title</label>
    <input  id="title" formControlName="title" required class="input"/>
    <p *ngIf="productForm.get('title')?.invalid && productForm.get('title')?.touched" class="error">
      Title is required
    </p>
  </div>
 <div class="p-field">
    <label for="category">Category</label>
    <input id="category" formControlName="category" required class="input" />
    <small *ngIf="productForm.get('category')?.invalid && productForm.get('category')?.touched" class="error">
      Category is required
    </small>
  </div>
  <div class="p-field">
    <label for="price">Price</label>
    <input id="price" type="number" formControlName="price" required class="input" />
    <small *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="error">
      Valid price is required
    </small>
  </div>

  

 

  <div class="p-field">
    <label for="image">Image URL</label>
    <input id="image" formControlName="image" required class="input"/>
    <small *ngIf="productForm.get('image')?.invalid && productForm.get('image')?.touched" class="error">
      Image URL is required
    </small>
  </div>
  <div class="p-field">
    <label for="description">Description</label>
    <textarea  id="description" formControlName="description" required rows="4" class="input"></textarea>
    <small *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="error">
      Description is required
    </small>
  </div>


</form>

<div style="display: flex; gap: 10px; justify-content: end; margin-top: 10px;">
  <app-button
   title="Cancel"
        bgColor="red"
          (click)="onCancel()"
          width="fit"
                   ></app-button>
        <app-button
  [title]="isEditMode ? 'Update' : 'Add'"
width="fit"
  (click)="onSubmit()"
   [disabled]="!productForm.valid"
></app-button>

 
</div>
<!-- <div> <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate> 
      <div class="inputs-row"> 
         <div class="form-group">
          <app-text-input
            label="First Name"
           
            [showPlaceholder]="true"

          ></app-text-input>
         
        </div>

        <div class="form-group">
          <app-text-input
            label="Last Name"
          
            [showPlaceholder]="true"
          ></app-text-input>
         
        </div></div> -->
      
   
     
<!-- 
<div class="button-container">
  <span class="account">Already a member? <a routerLink="/sign-in" style="color: var(--secondary); text-decoration: underline;">Sign in</a></span>
        <app-button
          title="Sign Up"
          type="submit"
          bgColor="var(--secondary)"
          style="width: 50%;"
        ></app-button>
        </div>
      </form></div> -->
