.account-settings-container {
  display: flex;
  padding: 2rem;

.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .tab {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;

    &.active {
      background: var(--primary);
      color: var(--white);

      .small , .title {
        color: var(--white); 
      }
    }

    .small {
      font-size: 12px;
      color: var(--primary);
    }
       .title {
      font-size: 16px;
      color: var(--primary);
    }
  }
}


  .content {
    flex: 1;
    margin-left: 2rem;

    .header-card {
      background: white;
      border-radius: 10px;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;

      .avatar {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px dashed #999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;

        .plus {
          position: absolute;
          bottom: 0;
          right: 0;
          background: var(--primary);
          color: white;
          font-size: 0.7rem;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .info {
        flex: 1;

        .name {
          font-weight: bold;
        }

        .email {
          font-size: 0.9rem;
          color: gray;
        }
      }

      
    }
.error {
  font-size: 0.75rem;
  color: red;
  margin-top: 0.25rem;
}
  }

  .address-card{
     background: white;
      border-radius: 10px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
  width: 100%;
      .label{
          font-size: 24px;
      color: var(--primary);
      }

      .form-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.form-group {
  display: flex;
  width: 100%;
  gap: 20px;

  > * {
    flex: 1; 
    min-width: 0; 
  }
}



  }
}
