<!-- <ag-grid-angular  style="width: 80%; height: 500px; padding: 20px;"
        [rowData]="rowData"
        [columnDefs]="colDefs" 
      [pagination]="true"
    
       /> -->
       <div class="admin">
        <app-sidemenu></app-sidemenu>
      
    <div  style="width: 100%;">
        <div class="button">        <app-button title="Add Product" width="fit" (click)="openAddDialog()"></app-button></div>
  
     
 <ag-grid-angular style="width: 100%; height: 80vh; padding: 20px;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      (gridReady)="onGridReady($event)"
[gridOptions]="gridOptions"
       [pagination]="true"
       [theme]="theme">
       
    </ag-grid-angular>

            <p-confirmDialog [style]="{width: '400px'}"></p-confirmDialog></div>
              

        
       </div>
      
            