.admin{
    display: flex;
    width: screen;
    // height: 100vh;

}
.bin {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
}

.bin:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.button{
  width: 100%;
 display: flex;
 justify-content: end;
padding:20px 40px 0 0;
}
:host ::ng-deep .ag-root-wrapper {
  overflow-x: hidden !important;
}


