<!-- 

<p-drawer [(visible)]="visible" position="top" >
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
    </p>
</p-drawer> -->

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '70%', height: '50%' }">
    <span class="p-text-secondary block mb-8">search</span>
   
    
</p-dialog>