<footer class="footer" *ngIf="showFooter">
    <div class="footer-container">
    <div class="about">
         <img
          [src]="IMAGES.logo"
          alt="login_illustration"
          width="120"
          height="100"
        />
        <p class="text">moda fusion is a new store that
sells fashion and electronics.</p>
<div class="socials"><app-socials  [iconPath]="ICONS.pinterest"></app-socials>
<app-socials  [iconPath]="ICONS.instagram"></app-socials></div>

    </div>
    <div class="lists">
           <ul class="list">
        <span class="label">Store</span>
            <li routerLink="/home">Home</li>
            <li routerLink="/about">About</li>
            <li routerLink="/products">Products</li>
        </ul>
        <ul class="list">
        <span class="label">My Account</span>
            <li routerLink="/sign-up">Sign up</li>
            <li routerLink="/sign-in">Sign in</li>

        </ul>
        <ul class="list">
        <span class="label">Contact us</span>
        <div style="display: flex; align-items: center;"> <img [src]="ICONS.phone" alt="phone" class="icon" /><li> +961 71 256 289</li></div>
           
           <div style="display: flex; align-items: center;"> <img [src]="ICONS.email" alt="email" class="icon" /><li>modafusion&#64;info.com</li></div>
        </ul>
    </div>
    </div>
    <div class="divider">
        <span class="rights">&copy;Copy Rights All Reserved - 2025 modafusion</span>
    </div>
    
</footer>
