<footer class="footer">
    <div class="footer-container">
    <div class="about">
         <img
          [src]="IMAGES.logo"
          alt="login_illustration"
          width="120"
          height="100"
        />
        <p class="text">moda fusion is a new store that
sells fashion and electronics.</p>
<div class="socials"><app-socials  [iconPath]="ICONS.search"></app-socials>
<app-socials  [iconPath]="ICONS.cart"></app-socials></div>

    </div>
    <div class="lists">
           <ul class="list">
        <span class="label">Store</span>
            <li>Home</li>
            <li>About</li>
            <li>Products</li>
        </ul>
        <ul class="list">
        <span class="label">My Account</span>
            <li>Sign up</li>
            <li>Sign in</li>

        </ul>
        <ul class="list">
        <span class="label">Contact us</span>
            <li>Phone</li>
            <li>Email</li>
        </ul>
    </div>
    </div>
    <div class="divider">
        <span class="rights">&copy;Copy Rights All Reserved - 2025 modafusion</span>
    </div>
    
</footer>
