<div style="display: flex; align-items: center; justify-content: center; padding: 40px;">


<div style="display: flex; align-items: center;  width: 70%; ">
<img
      [src]="IMAGES.about"
      alt="about"
        width="50%"
     style="border-radius: 20px;"
    />
<div style="background-color: white; padding: 40px; border-radius: 20px; color: var(--primary); transform: translate(-50px);">
    <p>Moda Fusion is your one-stop online destination for the latest in fashion and electronics.
         We combine style and innovation to offer a unique shopping experience that caters to both your wardrobe 
         and your tech needs.
Whether you're looking to upgrade your look or your lifestyle, Moda Fusion brings together trendy apparel,
 accessories, and cutting-edge gadgets — all in one place. Our curated collections are designed to meet the needs
  of modern shoppers who value both style and performance.
At Moda Fusion, we believe in quality, affordability, and convenience. We're more than just a store — we're a 
fusion of passion for fashion and technology, 
built to inspire and empower you.</p></div>

  </div>
  </div>
<app-cta></app-cta>