<p-carousel [value]="slides" [numVisible]="1" [numScroll]="1" [showIndicators]="false" autoplayInterval="10000">
  <ng-template pTemplate="item" let-item>
    <div class="item-container">
      <div class="text-content">
        <h1>"{{ item.title }}"</h1>
        <p>{{ item.description }}</p>
        <button class="start-button">{{ item.button }}</button>
      </div>
      <div class="image-content" style=" display: flex; align-items: end;">
        <div> <img [src]="IMAGES.ring" alt="slide image" />
          <img [src]="IMAGES.headphones" alt="slide image" /></div>
       
          <div style="display: flex;"> 
            <img [src]="IMAGES.man" alt="slide image" style="max-width:50vh" />
        <img [src]="IMAGES.woman" alt="slide image" style="max-width: 50vh; "/></div>
       
           
      </div>
    </div>
  </ng-template>
</p-carousel>
