<p-carousel  [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template pTemplate="item" let-item>
    <div class="item-container">
      <div class="text-content">
        <h1><strong><em>Style, Tech & Beyond</em></strong></h1>
        <p>Own the moment and redefine your style with ModaFusion<br>New arrivals that slay — shop now!</p>
        <button class="start-button">Start Shopping</button>
      </div>
      <div class="image-content">
        <img [src]="item.image" [alt]="item.alt" />
      </div>
    </div>
  </ng-template>
</p-carousel>
