.product-container{
    width: screen;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    
    .filters{
        width: 10%;
        padding-right:60px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 10px;
     
        
    }
    .products{
        width: 90%;
    }
}