<div class="product-container">
  <!-- Filters -->
  <div class="filters">
    <h1 style="font-size: 20px; color: var(--primary);">Categories</h1>
    <app-boolean-input
      *ngFor="let category of categories"
      [label]="category"
      [value]="selectedCategories.has(category)"
      (valueChange)="onCategoryChange($event, category)"
    ></app-boolean-input>

    <!-- Sort Dropdown -->
    <div class="sort-container">
      <h1 style="font-size: 20px; color: var(--primary); margin-top: 20px;">Sort By</h1>
      <select [(ngModel)]="selectedSortOption" (change)="onSortChange()" class="sort-select">
        <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
  </div>

<div>
  <app-product-card [products]="pagedProducts" class="products"></app-product-card>
   <!-- Paginator -->
  <p-paginator 
    [rows]="rowsPerPage"
    [totalRecords]="filteredProducts.length"
    [first]="first"
    (onPageChange)="onPageChange($event)">
  </p-paginator>
  </div>


</div>
 