.product-container{
    width: screen;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    
    .filters{
        width: 10%;
        padding-right:60px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 10px;
     
        
    }
    .products{
        width: 90%;
    }

    .sort-container {
  margin-top: 20px;
  .sort-select {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--primary) ;
  background-color: white;
  font-size: 14px;
  margin-top: 8px;
  color: var(--primary);
}

.sort-options{
display: flex;
flex-direction: column;
}

.sort-select:focus {
  outline: none;
  border-color: var(--primary);
}
}
}

:host ::ng-deep .p-paginator {
  margin-top: 2rem;
  justify-content: center;
  background-color: transparent;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
  background-color:var(--secondary);
  color: white;
}

