.product-container{
    width: screen;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    
    .filters{
        width: 10%;
        padding-right:60px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 10px;
     
        
    }
    .products{
        width: 90%;
    }

    .sort-container {
  margin-top: 20px;


.sort-options{
  margin-top: 10px;
display: flex;
flex-direction: column;
 gap: 10px;
 color: var(--primary);
}


}
}

:host ::ng-deep .p-paginator {
  margin-top: 2rem;
  justify-content: center;
  background-color: transparent;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
  background-color:var(--secondary);
  color: white;
}

