<h3>Text Input</h3>
<app-text-input
  label="Username"
  type="text"
  [value]="username"
  (valueChange)="username = $event"
></app-text-input>

<h3>Password Input</h3>
<app-text-input
  label="Password"
  type="password"
  [value]="password"
  (valueChange)="password = $event"
></app-text-input>

<h3>Text Input with Full Border</h3>
<app-text-input
  label="Email"
  type="text"
  [value]="email"
  [fullBorder]="true"
  (valueChange)="email = $event"
></app-text-input>

<app-button
  title="Submit"
  bgColor="var(--secondary)"
  textColor="var(--white)"
  width="200px"
  (onClick)="handleSubmit()"
></app-button>
