
.drawer-body {
  display: flex;
  flex-direction: column;

  height: 100%;

}

.cart-content {
  flex: 1;
  overflow-y: auto;
   &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Optional: smooth scrolling
  scroll-behavior: smooth;

}
.total-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
    border-top: 1px solid var(--dark-navy2);
    bottom: 0;
    .total{
  font-size: 20px;
  font-weight: 700;
  color: var(--dark-navy2);

}
.bin {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-top: 5px;
}

.bin:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
}
