<p-overlaybadge
  *ngIf="showBadge && badgeValue; else noBadge"
  pOverlayBadge
  [value]="badgeValue"
  severity="danger"
  class="inline-block relative"
  (click)="onClick()"
>
  <div class="circle-icon">
    <img [src]="iconPath" [alt]="altText" />
  </div>
</p-overlaybadge>


<ng-template #noBadge>
  <div class="circle-icon" (click)="onClick()">
    <img [src]="iconPath" [alt]="altText" />
  </div>
</ng-template>


<div *ngIf="isDropdown && showDropdown" class="dropdown-box">
 @if (isLoggedIn) {
    <div style="padding: 8px; min-width: 120px;">
      <p style="margin: 0 0 8px 0; font-weight: bold;">Hello, {{ firstName | titlecase }}</p>
      <hr style="margin: 4px 0;">
    <p style="margin: 8px 0; cursor: pointer;" (click)="navigateTo('/profile')">My Profile</p>
      <button style="margin: 8px 0; cursor: pointer;" (click)="logout()">Logout</button>
    </div>
} @else {
    <div style="padding: 8px; min-width: 120px;">
      <p style="margin: 8px 0; cursor: pointer;" (click)="navigateTo('/sign-in')">Sign In</p>
      <p style="margin: 8px 0; cursor: pointer;" (click)="navigateTo('/sign-up')">Sign Up</p>
    </div>
}
</div>
