.circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  img {
    width: 20px;
    height: 20px;
  }

  

}
.dropdown-box {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  width: 200px;
  right: 0;
  background-color: white;
  border: 1px solid #e5e7eb; /* light gray */
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  z-index: 1000;
}