.page-title-container {
display: flex;
align-items: center;
 background-color: var(--background);
padding: 20px 40px 0px 40px;
  .main-title {
    font-size: 24px;
font-weight: 500;
    color: var(--primary);
  }

  .icon{
    width: 25px;
    height: 25px;
  }
}
