@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary: #0F3460;
  --secondary: #E94560;
  --dark-navy1: #1A1A2E;
  --dark-navy2: #16213E;
  --background: #F4F9FE;
  --white: #FFFFFF;
  --black: #000000;
}


* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Poppins", sans-serif;
    background-color: var(--background);
}

html {
  scroll-behavior: smooth;
}