.p-accordionpanel .p-accordionheader{
    background-color: var(--secondary);
    color: var(--white);
    // margin-bottom: 10px;
}

.section-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--primary);
text-align: center;
  margin: auto;
  padding-top: 40px;
}