.checkout-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin:20px 40px;
background-color: var(--white);
border-radius: 20px;
  .left-section, .right-section {
    flex: 1;
    color: var(--primary);
  }

  .label {
    font-weight: 500;
    margin-top: 20px;
    display: block;
  }

  .address-input {
    width: 100%;
background-color: var(--background);
    border-radius: 8px;
    padding: 1rem;


  }

  .delivery-option {
    display: flex;
    justify-content: space-between;
background-color: var(--background);
    border-radius: 8px;
    padding: 1rem;
    font-weight: 500;
  }

  .right-section {
     color: var(--primary);
    h3 {
      margin-bottom: 0.5rem;
      
    }

    .item-count {
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .item-card {
        width: 100%;
      display: flex;
      align-items: center;
      background: #f8f8f8;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      gap: 1rem;
      position: relative;

     

   
    }

    .summary-line {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }

    .total {
      font-weight: bold;
    }



  }
}



  .payment-input {
    width: 100%;
background-color: var(--background);
    border-radius: 8px;
    padding: 1rem;
flex-direction: column;
gap:10px;
  display: flex;
  justify-content: center;
  align-items: center;

  }
.image-container {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #EB1946;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
