.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .label-text {
    font-size: 14px;
    color: var(--primary);
    text-transform: capitalize;
    margin-top: 4px;
  }
}
